<h3>Home</h3>
<p>Welcome to the home of <%= @owner.name %>.</p>
<p>I was born on <%= @owner.birthdate.day %>-<%= @owner.birthdate.month %>-<%= @owner.birthdate.year %>.</p>
<p>Its only <%= @owner.countdown %> days until my birthday!</p>
